<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Page Not Found :(</title>
        <!-- build:css css/404.css -->
		<link rel="stylesheet/less" href="css/404.less">
		<script src="bower_components/less.js/dist/less-1.3.3.min.js"></script>
		<!-- /build -->
    </head>
    <body>
        <div class="container">
            <h1>Not found <span>:(</span></h1>
            <p>Sorry, but the page you were trying to view does not exist.</p>
            <p>It looks like this was the result of either:</p>
            <ul>
                <li>a mistyped address</li>
                <li>an out-of-date link</li>
            </ul>
            <script>
                var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
            </script>
            <script src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
        </div>
        <!-- build:template
		<script type="text/javascript">
			var require = {
					urlArgs : "v=<%= version %>"
				};
		</script>
		/build -->
		<!-- build:[src] js/libs/vendor/requirejs/require.js -->
		<script data-main="js/main" data-start="app/404" type="text/javascript" src="bower_components/requirejs/require.js"></script>
		<!-- /build -->
    </body>
</html>
